/* Global
 * ========================================================================== */

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 100%;
  min-width: 300px;
}
body {
  font-size: calc(16px + 0.3vw);
}

.section-wrapper {
  padding-top: 0;
  clear: both;
}
.site-wrapper {
  margin: 0 auto;
  &.nav-active {
    overflow: hidden;
    z-index: 2;

    &::after {
      @include pseudo();
      background-color: rgba(0, 0, 0, 0.85);
      width: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}
.inner-wrapper {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em 1em;
  position: relative;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

/* Typography
 * ========================================================================== */

@include font-face(
  Avenir-Medium,
  "/src/scss/fonts/avenir-medium/Avenir-Medium",
  550,
  normal
);
@include font-face(
  Avenir-Heavy,
  "/src/scss/fonts/avenir-heavy/Avenir-Heavy",
  700,
  normal
);
@include font-face(
  Avenir-Black,
  "/src/scss/fonts/avenir-black/Avenir-Black",
  750,
  normal
);

@mixin font-stack($family, $size, $weight) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
  @if $family == $base-font {
    letter-spacing: 0.25px;
  } @else {
    letter-spacing: -0.25px;
  }
}
span,
p,
a,
td,
th,
input,
label {
  @include font-stack($base-font, $baseFontSize, 300);
}
a {
  text-decoration: none;
  color: $black;
  &[role="menuitem"] {
    font-size: $baseFontSize + 0.2;
    @include for-size(tablet, up) {
      font-size: $baseFontSize;
    }
  }
}

.h1 {
  @include font-stack(Avenir-Black, $h1-size, 750);
  line-height: 1.2;
}
.h2 {
  @include font-stack(Avenir-Heavy, $h2-size, 700);
}
.h3 {
  @include font-stack(Avenir-Heavy, $h3-size, 700);
}
.h4 {
  @include font-stack(Avenir-Medium, $h4-size, 550);
}
.sm-text {
  font-size: 0.6em;
}

/* Cards
 * ========================================================================== */

.card-container {
  display: grid;
  width: 100%;
  min-height: 70px;
  grid-template-columns: 1fr 3fr;
  padding: $padding-two-thirds;
  grid-gap: 1em;
  box-shadow: 0px 0px 6px -1px rgba(#000, 0.1);
  background: $white;
  border-radius: 3px;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  &:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  &:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  &:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }
  &:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
  }
  .icon {
    padding-left: 30px;
  }
  .card-meta {
    padding-right: 30px;
  }
}
.resource-link {
  grid-column: 1;
  grid-row: 5;
}
@include for-size(tablet, up) {
  .card-container {
    min-width: 364px;
    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }
    &:nth-child(2) {
      grid-column: 2;
      grid-row: 1;
    }
    &:nth-child(3) {
      grid-column: 1;
      grid-row: 2;
    }
    &:nth-child(4) {
      grid-column: 2;
      grid-row: 2;
    }
  }
  .resource-link {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
}

/* Buttons and Links
 * ========================================================================== */
button {
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.read-more {
  font-size: $baseFontSize + 0.2;
  position: relative;
  margin: 1em auto;
  transition: 0.3s;
  font-style: oblique;
  padding-bottom: 2px;
  padding-right: 40px;
  color: $navy;
  border-bottom: 1.5px solid $navy;
  background: url("/src/images/arrow-right-black.svg") no-repeat 100% 50%;
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
  &--white {
    color: $white;
    border-color: $white;
    background: none;
    padding-right: 0;
    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
  }
  &.accent {
    background: url("/src/images/arrow-right.svg") no-repeat 100% 50%;
    color: $green;
    border-color: $green;
  }
}

.btn {
  @include font-stack(Avenir-Medium, $baseFontSize, normal);
  max-width: 250px;
  width: 100%;
  padding: $padding-two-thirds;
  margin: 20px 0;
  text-align: center;
  border-radius: 3px;
  color: $black;
  font-size: $baseFontSize + 0.2;
  @include for-size(tablet, up) {
    margin: auto 1.5em;
  }
  &:hover {
    box-shadow: 0px 0px 0px 3px #f7f7f7;
  }
  &:disabled {
    color: #666;
    opacity: 0.5;
  }
}

.btn-primary {
  @include button-bg($navy);
}
.btn-secondary {
  @include button-bg($green);
}

@include for-size(tablet, up) {
  .btn {
    max-width: 300px;
  }
}

/* Icons
 * ========================================================================== */

.icon {
  padding: 0 10px;
}

.icon-site-nav {
  margin-top: 10px;
}

.logo-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  .icons {
    margin-top: 20px;
  }
}
.img {
  width: 100%;
}
