/* Top Banner
 * ========================================================================== */
.section-wrapper-1 {
  @include gradient(top right, $navy, $navy-light 250%);
}
.main-banner {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  min-height: 40vh;
  overflow: hidden;
  position: relative;
  padding: $padding * 6 $padding;
  align-items: center;
  justify-content: center;
  .hero-text {
    text-align: center;
    margin-bottom: 0;
  }
  .subtitle {
    @include font-stack($base-font, 1.05em, 100);
    letter-spacing: 1.5px;
    font-style: oblique;
    padding: 20px 0;
    text-align: center;
  }
}
.button-container {
  display: inherit;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@include for-size(phone-lg, up) {
  .button-container {
    flex-direction: row;
    margin: $padding * 3.5 0 $padding * 2 0;
  }
}
/* Resources Section
 * ========================================================================== */
.section-wrapper-2 {
  position: relative;
  @include background("/src/images/resources-bg.jpg", cover, 70% bottom);
  &::after {
    @include pseudo();
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    @include gradient(right, $white-light, $clear 130%);
  }
}

.resources {
  margin: 0 auto;
  height: 100%;
  min-height: 60vh;
  overflow: hidden;
  padding: $padding * 7 $padding $padding * 3;
  z-index: 4;

  & .title-text {
    overflow-wrap: break-word;
    max-width: 800px;
    width: 100%;
    margin-bottom: 0;
  }
}

.banner-description {
  padding: $padding 0;
  font-style: oblique;
}

.card-columns {
  margin: 4em auto 2em;
  width: fit-content;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-auto-rows: auto;

  .resource-link {
    text-align: center;
    margin: 1em auto 0;
  }
}

@include for-size(tablet, up) {
  .card-columns {
    margin: 5em auto 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: fit-content;
  }
}

@include for-size(tablet-lg, up) {
  .card-columns {
    margin: 5em 0 2em;
  }
}

/* Search
 * ========================================================================== */
.section-wrapper-3 {
  @include background-base($white);
}

.benefits {
  margin: 5em auto;
  padding: 2em 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .right {
    height: 100%;
    display: none;
  }
  .left {
    .h3 {
      @include font-stack(Avenir-Medium, $h3-size, norml);
      margin-bottom: 0.5em;
      position: relative;

      &::after {
        @include pseudo();
        background-color: $green;
        height: 3px;
        bottom: -2px;
        left: 0;
        width: 40px;
      }
    }

    .benefit-description {
      margin: 0.5em 0 2em 1.25em;
    }
  }
}
.benefit-container {
  padding: 0.5em 1em;
}

@include for-size(tablet, up) {
  .benefits {
    margin: 5em auto;
    display: flex;
    flex-flow: row wrap;

    .right {
      display: block;
      flex-basis: 50%;
      padding-right: 2em;
      height: 100%;
    }
    .left {
      flex-basis: 50%;

      .benefit-description {
        margin: 0.5em 0 2em 1.25em;
      }
    }
  }
}

/* Block Section
 * ========================================================================== */

.section-wrapper-3 {
  @include background-base($white);
}
.blocks {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-auto-rows: auto;
}

.block-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  box-shadow: 0px 0px 10px -1px rgba(#000, 0.1);
  position: relative;
  border-radius: 3px;
  color: $white;

  p,
  a {
    z-index: 999;
  }

  &:nth-child(1) {
    grid-row: 1;
    grid-column: 1 / span 2;
    @include background("/src/images/modu-va-loan.jpg");
  }
  &:nth-child(2) {
    grid-row: 2;
    grid-column: 1 / span 2;
    @include background("/src/images/modu-resources.jpg");
  }
  &:nth-child(3) {
    grid-row: 3;
    grid-column: 1 / span 2;
    @include background("/src/images/modu-find-lender.jpg");
  }

  &::after {
    @include pseudo();
    border-radius: 3px;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  @include for-size(tablet, up) {
    &:nth-child(1) {
      grid-row: 1;
      grid-column: 1;
    }
    &:nth-child(2) {
      grid-row: 2;
      grid-column: 1;
    }
    &:nth-child(3) {
      grid-row: 1 / span 2;
      grid-column: 2;
    }
  }
}

/* Search Section
 * ========================================================================== */
.section-wrapper-5 {
  position: relative;
  &::after {
    @include pseudo();
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    @include background("/src/images/modu-va-loan.jpg", cover, center center);
    background-color: rgba(255, 255, 255, 0.85);
    background-blend-mode: lighten;
  }
}

.search {
  width: 100%;

  .field {
    position: relative;
  }
  label {
    color: $black;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    transition: left 0.4s, transform 0.4s;
    padding: 0 1.5em;
  }
  .input-search {
    border: 1px solid $black;
    border-radius: 0.25em;
    box-shadow: 0 1px 0 #bfbebf;
    display: block;
    padding: 0.5em 2em;
    width: 100%;
    &:focus,
    &:valid {
      & + label {
        left: 0.5em;
        transform: translate(0, -50%);
      }
    }

    &:valid {
      & + label {
        text-indent: -9999px;
      }
    }
  }
}

@include for-size(tablet, up) {
  .search-container {
    flex-basis: 60%;
    padding-left: 2em;
    margin: 2em auto;
  }
}
