/* Mixins
 * ========================================================================== */

@mixin for-size($breakpoint, $direction: up) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @if $direction == up {
      @media (min-width: $breakpoint-value) {
        @content;
      }
    } @else if $direction == down {
      @media (max-width: $breakpoint-value) {
        @content;
      }
    }
  } @else {
    @if $direction == up {
      @media (min-width: $breakpoint) {
        @content;
      }
    } @else if $direction == down {
      @media (max-width: $breakpoint) {
        @content;
      }
    }
  }
}

//Pseudo Mixin
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

//Gradient Mixin
@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  @if $orientation == "vertical" {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == "horizontal" {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      $start-color,
      $end-color
    );
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

@mixin base-font($size: 0.95em, $weight: 300, $style: normal) {
  font-family: $base-font;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  letter-spacing: 0.25px;
}
@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-name;
    src: url($file-name+".eot");
    src: url($file-name+".eot?#iefix") format("embedded-opentype"),
      url($file-name+".woff") format("woff"),
      url($file-name+".ttf") format("truetype"),
      url($file-name+".svg##{$font-name}") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin avenirBlack {
  font-family: AvenirLTPro-Black;
  src: url("src/fonts/AvenirLTPro-Black.woff2") format("woff2"),
    url("src/fonts/AvenirLTPro-Black.woff") format("woff"),
    url("src/fonts/AvenirLTPro-Black.ttf") format("truetype");
}
@mixin avenirHeavy {
  font-family: AvenirLTPro-Heavy;
  src: url("src/fonts/AvenirLTPro-Heavy.woff2") format("woff2"),
    url("src/fonts/AvenirLTPro-Heavy.woff") format("woff"),
    url("src/fonts/AvenirLTPro-Heavy.ttf") format("truetype");
}
@mixin avenirMedium {
  font-family: AvenirLTPro-Medium;
  src: url("src/fonts/AvenirLTPro-Medium.woff2") format("woff2"),
    url("src/fonts/AvenirLTPro-Medium.woff") format("woff"),
    url("src/fonts/AvenirLTPro-Medium.ttf") format("truetype");
}

@mixin background-base($bg) {
  width: 100%;
  background: $bg;
  @if lightness($bg) < 60% {
    color: white;
  }
}
@mixin background($imgpath, $size: cover, $position: 0 0, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    size: $size;
    position: $position;
    repeat: $repeat;
  }
}

@mixin button-bg($bg) {
  background: $bg;
  position: relative;
  @if lightness($bg) < 70% {
    color: white;
  }
  &::after {
    @include pseudo(block, absolute, "");
    border: 2px solid $bg;
    &:hover {
      border-width: 5px;
    }
  }
  &:hover {
    transition: all 0.3s ease-in-out;
  }
}

@mixin section-wrapper {
  padding: 0px 15px;
}
