/* Mixins
 * ========================================================================== */

// Breakpoint Mixin
@mixin for-size($breakpoint, $direction: up) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @if $direction == up {
      @media (min-width: $breakpoint-value) {
        @content;
      }
    } @else if $direction == down {
      @media (max-width: $breakpoint-value) {
        @content;
      }
    }
  } @else {
    @if $direction == up {
      @media (min-width: $breakpoint) {
        @content;
      }
    } @else if $direction == down {
      @media (max-width: $breakpoint) {
        @content;
      }
    }
  }
}

//Pseudo Mixin
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

//Gradient Mixin
@mixin gradient($orientation, $start-color, $end-color) {
  width: 100%;
  background-image: -webkit-linear-gradient(
    $orientation,
    $start-color,
    $end-color
  );
  background-image: linear-gradient(to $orientation, $start-color, $end-color);
  @if lightness($start-color) < 60% {
    color: white;
  }
}

//Font Face Mixin
@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-name;
    src: url($file-name+".woff") format("woff"),
      url($file-name+".ttf") format("truetype"),
      url($file-name+".svg##{$font-name}") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}

//Basic Background Mixin
@mixin background-base($bg) {
  width: 100%;
  background: $bg;
  @if lightness($bg) < 60% {
    color: white;
  }
}
//Image Background Mixin
@mixin background($imgpath, $size: cover, $position: 0 0, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    size: $size;
    position: $position;
    repeat: $repeat;
  }
}
//Button Mixin
@mixin button-bg($bg) {
  background: $bg;
  position: relative;
  @if lightness($bg) < 70% {
    color: white;
  }
  &::after {
    @include pseudo();
    border: 2px solid $bg;
    &:hover {
      border-width: 5px;
    }
  }
  &:hover {
    transition: all 0.3s ease-in-out;
  }
}
