/* Variables
 * ========================================================================== */
//Prefixes
$prefixes: ("", "-moz-", "-ms-", "-o-", "-webkit-");

//Animations
@mixin transition($transition: all, $time: 2s, $ease: linear, $delay: 0s) {
  @each $prefix in $prefixes {
    #{$prefix}transition: $transition $time $ease $delay;
  }
}

@mixin transform($transform) {
  @each $prefix in $prefixes {
    #{$prefix}transform: $transform;
  }
}

// A map of breakpoints
$breakpoints: (
  phone-sm: 420px,
  phone-lg: 600px,
  tablet: 775px,
  tablet-lg: 1024px,
  desktop: 1025px,
  desktop-lg: 1400px
);

// Colors
$navy: #151f3a;
$green: #5faa89;
$ivory: #d6d9ce;
$steel: #4c4b54;
$offwhite: #f8fbf9;
$black: #0a0a0a;
$white: #ffffff;

// Padding
$padding: 1.5em;
$padding-sm: $padding/1.75;
$padding-xs: $padding/2;

// Typography
$base-font-family: "helvetica neue", sans-serif;
