/* Variables
 * ========================================================================== */

// A map of breakpoints
$breakpoints: (
  phone-sm: 420px,
  phone-lg: 600px,
  tablet: 775px,
  tablet-lg: 1024px,
  desktop: 1025px,
  desktop-lg: 1400px
);

// Colors
$navy: #151f3a;
$green: #5faa89;
$ivory: #d6d9ce;
$steel: #4c4b54;
$offwhite: #f8fbf9;
$black: #0a0a0a;
$white: #ffffff;

// Typography
$base-font-family: "helvetica neue", sans-serif;
