/* Variables
 * ========================================================================== */
//Imports

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

// A map of breakpoints
$breakpoints: (
  phone-sm: 420px,
  phone-lg: 600px,
  tablet: 775px,
  tablet-lg: 1024px,
  desktop: 1025px,
  desktop-lg: 1400px
);

// Colors
$navy: #151f3a;
$navy-light: rgba(21, 31, 58, 0.75);
$green: #5faa89;
$ivory: #d6d9ce;
$steel: #4c4b54;
$offwhite: #f8fbf9;
$black: #0a0a0a;
$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.55);
$clear: rgba(0, 0, 0, 0);

// Padding
$padding: 1em;
$padding-one-fourth: $padding/4;
$padding-one-third: $padding/3;
$padding-one-half: $padding/2;
$padding-two-thirds: $padding-one-third * 2;
$padding-three-fourths: $padding-one-fourth * 3;
$padding-five-fourths: $padding-one-fourth * 5;
$padding-six-fourths: $padding-one-fourth * 6;

// Typography
$base-font: "Open Sans", sans-serif;
$baseFontSize: 0.9em;
$h1-size: 3em;
$h2-size: 2.5em;
$h3-size: 1.3em;
$h4-size: 1.1em;
