/* Normalize
 * ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  cursor: default;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

hr {
  height: 0;
  overflow: visible;
}

main {
  display: block;
}

nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

iframe {
  border-style: none;
}

img {
  border-style: none;
}

svg:not([fill]) {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

button,
input,
select {
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

fieldset {
  border: 1px solid #a0a0a0;
  padding: 0.35em 0.75em 0.625em;
}

input {
  overflow: visible;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  margin: 0;
  overflow: auto;
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

details {
  display: block;
}

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden] {
  display: none;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* Variables
 * ========================================================================== */
/* Mixins
 * ========================================================================== */
/* Global
 * ========================================================================== */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  font-size: calc(16px + 0.3vw);
}

.section-wrapper {
  padding-top: 0;
  clear: both;
}

.site-wrapper {
  margin: 0 auto;
}

.site-wrapper.nav-active {
  overflow: hidden;
  z-index: 2;
}

.site-wrapper.nav-active::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.inner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

/* Typography
 * ========================================================================== */
@font-face {
  font-family: Avenir-Medium;
  src: url("src/fonts/avenir-medium/Avenir-Medium.eot");
  src: url("src/fonts/avenir-medium/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("src/fonts/avenir-medium/Avenir-Medium.woff") format("woff"), url("src/fonts/avenir-medium/Avenir-Medium.ttf") format("truetype"), url("src/fonts/avenir-medium/Avenir-Medium.svg#Avenir-Medium") format("svg");
  font-weight: 550;
  font-style: normal;
}

@font-face {
  font-family: Avenir-Heavy;
  src: url("src/fonts/avenir-heavy/Avenir-Heavy.eot");
  src: url("src/fonts/avenir-heavy/Avenir-Heavy.eot?#iefix") format("embedded-opentype"), url("src/fonts/avenir-heavy/Avenir-Heavy.woff") format("woff"), url("src/fonts/avenir-heavy/Avenir-Heavy.ttf") format("truetype"), url("src/fonts/avenir-heavy/Avenir-Heavy.svg#Avenir-Heavy") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Avenir-Black;
  src: url("src/fonts/avenir-black/Avenir-Black.eot");
  src: url("src/fonts/avenir-black/Avenir-Black.eot?#iefix") format("embedded-opentype"), url("src/fonts/avenir-black/Avenir-Black.woff") format("woff"), url("src/fonts/avenir-black/Avenir-Black.ttf") format("truetype"), url("src/fonts/avenir-black/Avenir-Black.svg#Avenir-Black") format("svg");
  font-weight: 750;
  font-style: normal;
}

span,
p,
a,
td,
th,
input,
label {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.25px;
}

a {
  text-decoration: none;
  color: #0a0a0a;
}

a[role="menuitem"] {
  font-size: 1.1em;
}

@media (min-width: 775px) {
  a[role="menuitem"] {
    font-size: 0.9em;
  }
}

.h1 {
  font-family: Avenir-Black;
  font-size: 3em;
  font-weight: 750;
  font-style: normal;
  letter-spacing: -0.25px;
  line-height: 1.2;
}

.h2 {
  font-family: Avenir-Heavy;
  font-size: 2.5em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.25px;
}

.h3 {
  font-family: Avenir-Heavy;
  font-size: 1.3em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.25px;
}

.h4 {
  font-family: Avenir-Medium;
  font-size: 1.1em;
  font-weight: 550;
  font-style: normal;
  letter-spacing: -0.25px;
}

.sm-text {
  font-size: 0.6em;
}

/* Cards
 * ========================================================================== */
.card-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  min-height: 70px;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  padding: 0.66667em;
  grid-gap: 30px;
  -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 3px;
  overflow: hidden;
}

.card-container .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-container .card-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 775px) {
  .card-container {
    min-width: 364px;
  }
}

/* Buttons and Links
 * ========================================================================== */
button {
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.read-more {
  font-size: 1.1em;
  position: relative;
  margin: 1em auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-style: oblique;
  padding-bottom: 2px;
  padding-right: 40px;
  color: #151f3a;
  border-bottom: 1.5px solid #151f3a;
  background: url("/src/images/arrow-right-black.svg") no-repeat 100% 50%;
}

.read-more:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.read-more.accent {
  background: url("/src/images/arrow-right.svg") no-repeat 100% 50%;
  color: #5faa89;
  border-color: #5faa89;
}

.btn {
  font-family: Avenir-Medium;
  font-size: 0.9em;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.25px;
  max-width: 250px;
  width: 100%;
  padding: 0.66667em;
  margin: 20px 0;
  text-align: center;
  border-radius: 3px;
  color: #0a0a0a;
  font-size: 1.1em;
}

@media (min-width: 775px) {
  .btn {
    margin: auto 1.5em;
  }
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 0px 3px #f7f7f7;
          box-shadow: 0px 0px 0px 3px #f7f7f7;
}

.btn:disabled {
  color: #666;
  opacity: 0.5;
}

.btn-primary {
  background: #151f3a;
  position: relative;
  color: white;
}

.btn-primary::after {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #151f3a;
}

.btn-primary::after:hover {
  border-width: 5px;
}

.btn-primary:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-secondary {
  background: #5faa89;
  position: relative;
  color: white;
}

.btn-secondary::after {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #5faa89;
}

.btn-secondary::after:hover {
  border-width: 5px;
}

.btn-secondary:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 775px) {
  .btn {
    max-width: 300px;
  }
}

/* Icons
 * ========================================================================== */
.icon {
  padding: 0 10px;
}

.icon-site-nav {
  margin-top: 10px;
}

.logo-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-help .icons {
  margin-top: 20px;
}

.img {
  width: 100%;
}

/* Header
 * ========================================================================== */
.banner-legal {
  width: 100%;
  background: #4c4b54;
  color: white;
  padding: 0.33333em;
  text-align: center;
}

.site-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 1em;
}

.logo {
  padding: 0.5em;
  max-width: 60%;
}

.nav-toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 30px;
  z-index: 12;
}

.nav-toggle span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0a0a0a;
  border-radius: 2px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: background 0s 0s;
  transition: background 0s 0s;
}

.nav-toggle span::before, .nav-toggle span::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0a0a0a;
  border-radius: 2px;
  -webkit-transition-delay: 0.1s 0s;
          transition-delay: 0.1s 0s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.nav-toggle span::before {
  top: -8px;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

.nav-toggle span::after {
  bottom: -8px;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}

.nav-active span {
  background: none;
}

.nav-active span::before, .nav-active span::after {
  background-color: #d6d9ce;
  -webkit-transition-delay: 0s 0.2s;
          transition-delay: 0s 0.2s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.nav-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.primary-nav {
  position: absolute;
  width: 80%;
  height: 100vh;
  top: 0;
  display: none;
  right: 0;
  background-color: #4c4b54;
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
  z-index: 10;
}

.primary-nav.nav-active {
  display: block;
}

.primary-nav .nav-header {
  display: none;
  width: 100%;
  height: 20vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
}

.primary-nav .nav-header.nav-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primary-nav .nav-linklist.nav-active {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (100px)[4];
      grid-template-rows: repeat(4, 100px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 2em;
}

.primary-nav .nav-linklist.nav-active .nav-item {
  padding-bottom: 10px;
  border-bottom: 1.5px solid #d6d9ce;
}

.primary-nav .nav-linklist.nav-active .nav-item a {
  font-family: Avenir-Medium;
  font-size: 0.9em;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.25px;
  color: #d6d9ce;
}

.nav-item a:hover {
  cursor: pointer;
}

@media (min-width: 775px) {
  .site-header {
    padding: 0.5em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav-toggle {
    display: none;
  }
  .primary-nav {
    position: relative;
    right: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .primary-nav .nav-linklist {
    display: inherit;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
  }
  .primary-nav .nav-linklist .nav-item a {
    padding: 0.33333em;
    margin: 0 0.33333em;
    font-family: Avenir-Medium;
    font-size: 0.9em;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.25px;
  }
}

/* Top Banner
 * ========================================================================== */
.section-wrapper-1 {
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#151f3a), color-stop(250%, rgba(21, 31, 58, 0.75)));
  background-image: linear-gradient(to top right, #151f3a, rgba(21, 31, 58, 0.75) 250%);
  color: white;
}

.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 100%;
  min-height: 40vh;
  overflow: hidden;
  position: relative;
  padding: 6em 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-banner .hero-text {
  text-align: center;
  margin-bottom: 0;
}

.main-banner .subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.05em;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 0.25px;
  letter-spacing: 1.5px;
  font-style: oblique;
  padding: 20px 0;
  text-align: center;
}

.button-container {
  display: inherit;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 600px) {
  .button-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 3.5em 0 2em 0;
  }
}

/* Resources Section
 * ========================================================================== */
.section-wrapper-2 {
  position: relative;
  background-image: url("/src/images/resources-bg.jpg");
  background-size: cover;
  background-position: 70% bottom;
  background-repeat: no-repeat;
  z-index: -2;
}

.section-wrapper-2::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.55)), color-stop(130%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.55), rgba(0, 0, 0, 0) 130%);
}

.resources {
  margin: 0 auto;
  height: 100%;
  min-height: 60vh;
  overflow: hidden;
  padding: 6em 1em 3em;
  z-index: 4;
}

.resources .title-text {
  overflow-wrap: break-word;
  max-width: 700px;
  width: 100%;
  margin-bottom: 0;
}

.banner-description {
  padding: 1em 0;
  font-style: oblique;
}

.card-columns {
  margin: 4em auto 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  grid-column-gap: 1em;
  grid-row-gap: 0.75em;
}

.card-columns .resource-link {
  text-align: center;
  margin: 2em auto 0;
}

@media (min-width: 775px) {
  .card-columns {
    margin: 5em auto 2em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

@media (min-width: 1024px) {
  .card-columns {
    margin: 5em 0 2em;
  }
}

/* Search
 * ========================================================================== */
.section-wrapper-3 {
  width: 100%;
  background: #ffffff;
}

.benefits,
.blocks {
  margin: 5em auto;
  padding: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits .right,
.blocks .right {
  height: 100%;
  display: none;
}

.benefits .left .h3,
.blocks .left .h3 {
  font-family: Avenir-Medium;
  font-size: 1.3em;
  font-weight: norml;
  font-style: normal;
  letter-spacing: -0.25px;
  margin-bottom: 0.5em;
  position: relative;
}

.benefits .left .h3::after,
.blocks .left .h3::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #5faa89;
  height: 3px;
  bottom: -2px;
  left: 0;
  width: 40px;
}

.benefits .left .benefit-description,
.blocks .left .benefit-description {
  margin: 0.5em 0 2em 1.25em;
}

.benefit-container {
  padding: 0.5em 1em;
}

@media (min-width: 775px) {
  .benefits,
  .blocks {
    margin: 5em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .benefits .right,
  .blocks .right {
    display: block;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-right: 2em;
    height: 100%;
  }
  .benefits .left,
  .blocks .left {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .benefits .left .benefit-description,
  .blocks .left .benefit-description {
    margin: 0.5em 0 2em 1.25em;
  }
}

/* Block Section
 * ========================================================================== */
.section-wrapper-3 {
  width: 100%;
  background: #ffffff;
}

.block-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 15px;
  min-height: 300px;
  margin-bottom: 2em;
  width: 100%;
  -webkit-box-shadow: 0 0px 7px -1px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0px 7px -1px rgba(0, 0, 0, 0.14);
  position: relative;
  border-radius: 3px;
}

.block-card#cta::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("/src/images/modu-find-lender.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: -2;
  background-color: rgba(255, 255, 255, 0.25);
  background-blend-mode: lighten;
}

.block-card#resources::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("/src/images/modu-resources.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: -2;
  background-color: rgba(255, 255, 255, 0.25);
  background-blend-mode: lighten;
}

.block-card#va-loan::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("/src/images/modu-va-loan.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: -2;
  background-color: rgba(255, 255, 255, 0.25);
  background-blend-mode: lighten;
}

.right.right-blocks {
  padding-right: 1em;
}

.left.left-blocks {
  padding-left: 1em;
}

.tall {
  height: 100%;
  text-align: center;
}

/* Search Section
 * ========================================================================== */
.section-wrapper-5 {
  position: relative;
}

.section-wrapper-5::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("/src/images/modu-va-loan.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -2;
  background-color: rgba(255, 255, 255, 0.85);
  background-blend-mode: lighten;
}

.search {
  width: 100%;
}

.search .field {
  position: relative;
}

.search label {
  color: #0a0a0a;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  -webkit-transition: left 0.4s, -webkit-transform 0.4s;
  transition: left 0.4s, -webkit-transform 0.4s;
  transition: left 0.4s, transform 0.4s;
  transition: left 0.4s, transform 0.4s, -webkit-transform 0.4s;
  padding: 0 1.5em;
}

.search .input-search {
  border: 1px solid #0a0a0a;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 1px 0 #bfbebf;
          box-shadow: 0 1px 0 #bfbebf;
  display: block;
  padding: 0.5em 2em;
  width: 100%;
}

.search .input-search:focus + label, .search .input-search:valid + label {
  left: 0.5em;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.search .input-search:valid + label {
  text-indent: -9999px;
}

@media (min-width: 775px) {
  .search-container {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    padding-left: 2em;
    margin: 2em auto;
  }
}

/* Footer
 * ========================================================================== */
.site-footer {
  margin-top: 2em;
}

.site-footer .logo {
  max-width: 350px;
}

.footer-nav {
  width: 100%;
  background: #151f3a;
  color: white;
  width: 100%;
  margin-top: 2em;
  padding: 1.5em 0 1.15em;
}

.footer-nav.site-nav {
  display: block;
}

.footer-nav .nav-linklist {
  width: 100%;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

.footer-nav .nav-linklist .nav-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0.35em 0;
}

.footer-nav .nav-linklist .nav-item a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */